
sudo: false

language: go

go: 1.13

before_install:
  - openssl aes-256-cbc -K $encrypted_a601de447bc0_key -iv $encrypted_a601de447bc0_iv -in client-secret.json.enc -out client-secret.json -d

script: go test -v -cover ./.

deploy:
  provider: gae
  keyfile: client-secret.json
  project: quantum-ether
  default: true
  config: app.yaml
